.overlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition-property: background-color, opacity;
  transition-duration:  750ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-after {
  background-color: rgb(0, 50, 100, 0.7);
}

.overlay-before {
  background-color: rgb(0, 50, 100, 0.3);
}

.content-base h5{
  margin: 1.6rem 1.6rem 0;
}

.content-base ul{
  margin: 0 1.6rem;
}

.content-base button{
  margin: 1.6rem;
}

.content-base {
  position: relative;
  margin: 0 auto;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
  max-width: 30rem;
  background-color: transparent;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.content-after {
  background-color: #ffffff;
}

.content-before {
  width: 0%;
  height: 0%;
  background-color: transparent;
}
